<!DOCTYPE html>
<html>
  <head>
    <title>To Do List: Home</title>
    <%- include ("partials/styles.ejs") %>
  </head>
  <body>
    <%- include ("partials/header.ejs") %>
    <section class="container-fluid">
      <section class="main-feed">
        <h2>This will be the main feed</h2>
      </section>
    </section>
  </body>
</html>